@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #555 #2d2d2d;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #464646;
  display: flex;
  justify-content: center;
}

.iframe-perestop {
  width: 100%;
  height: calc(100vh - 180px);

  margin-bottom: 10px;
  background-color: #323637;
  border-radius: 20px;
  border: 3px solid #e84029;
  box-shadow: 0 0 14px #ff5733;
}
